<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PaytmInsiderGetAPITest.getCallForUpcomingMoviesAndSetItInJsonArray()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">&gt;&gt;getCallForUpcomingMoviesAndSetItInJsonArray</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:38</td>   <td>991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.storeMoviesWithContentAvailableAszeroInExcelSheet()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">storeMoviesWithContentAvailableAszeroInExcelSheet</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:39</td>   <td>1823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.verifyEachPaytmMovieCodeIsUnique()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">verifyEachPaytmMovieCodeIsUnique</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:39</td>   <td>1835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.verifyEachUpcomingMovieReleaseDateshouldNotBeBeforeTodaysDate()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">verifyEachUpcomingMovieReleaseDateshouldNotBeBeforeTodaysDate</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:39</td>   <td>1847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.verifyJpgFormatInMoviePosterURL()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">verifyJpgFormatInMoviePosterURL</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:39</td>   <td>1857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.verifyLanguageUsedInUpcomingMovies()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">verifyLanguageUsedInUpcomingMovies</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/06/18 22:19:39</td>   <td>1866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.verifyRespnseJson()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">verifyRespnseJson</td> 
  <td>main@2094411587</td>   <td></td> </tr>
</table>
